<footer>
  <div class="footer-container">
    <div class="footer-section">
      <h2>عن الشركة</h2>
      <p>
        شركة كودجيما للاستثمار والتطوير العقاري الشركة الرائدة في الاستثمار
        والتسويق والتطوير العقاري في مدينة بدر محافظة القاهرة. نشأت الشركة في
        عام ٢٠١٠ وبدأت برأس مال ٢٠ مليون جنيه وأصبحت الشركة في تطور ملحوظ. بمرور
        الوقت حتى أصبحت علامة مميزة في مدينة بدر . تمتلك الشركة اكثر من 60 قطعه
        ارض و 130 قطعه معمارية و 650 من الوحدات السكنيه
      </p>
      <div class="footer-icons">
        <a
          href="https://www.facebook.com/profile.php?id=100063871909886&mibextid=ZbWKwL"
          ><i class="fab fa-facebook"></i>
        </a>
        <a
          href="https://maps.app.goo.gl/q2CnjZbhh6dstgah9?g_st=com.google.maps.preview.copy"
          ><i class="fas fa-map-marker-alt"></i>
        </a>
      </div>
    </div>
    <div class="footer-section">
      <h2>لينكات سريعة</h2>
      <p><a href="/">الرئيسية</a></p>
      <p><a href="#about">عن الشركة</a></p>
      <p><a href="#projects">مشاريعنا</a></p>
      <p><a href="#contact">للتواصل</a></p>
    </div>
    <div class="footer-section">
      <h2 id="contact">تفاصيل التواصل</h2>
      <p>موبايل: <a href="tel:+201146934111">+201146934111</a></p>
      <p>موبايل: <a href="tel:+201010173919">+201010173919</a></p>
      <p>موبايل: <a href="tel:+201110666030">+201110666030</a></p>
      <p>موبايل: <a href="tel:+201143565007">+201143565007</a></p>
      <p>موبايل: <a href="tel:+201144343353">+201144343353</a></p>
      <p>
        الإيميل:
        <a href="mailto:eslamelnady7777@gmail.com">eslamelnady7777@gmail.com</a>
      </p>
    </div>
  </div>
  <div class="footer-copyright">
    <p>
      © 2024 شركة كودجيما - تم التطوير بواسطة شركة فليدر لاب، جميع الحقوق محفوظة
    </p>
  </div>
</footer>
