<header>
  <nav>
    <div class="logo-container">
      <img src="/photo/enhanced.jpg" alt="شعار شركة كودجيما" />
      <span> شركة كودجيما للاستثمار والتطوير العقاري </span>
    </div>
    <ul>
      <li><a href="/">الرئيسية</a></li>
      <li><a href="#about">عن الشركة</a></li>
      <li><a href="#">مشاريعنا</a></li>
    </ul>
  </nav>
</header>
