/* تصفير التنسيق الافتراضي */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "'Arial", "Marhey", sans-serif;
  text-decoration: none;
}

/* شريط التنقل */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: black;
  padding: 10px 20px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  background-color: rgba(255, 255, 255, 0.8); /* لون أبيض مع شفافية 0.8 */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* لإضافة ظل خفيف تحت الشريط */
}

nav .logo-container {
  display: flex;
  align-items: center;
}

nav .logo-container img {
  height: 50px;
  margin-right: 10px;
  transition: transform 0.3s;
}

nav .logo-container span {
  font-size: 24px;
  font-weight: bold;
  color: black;
}

nav .logo-container:hover img {
  transform: scale(1.1);
  filter: brightness(1.2);
}

nav ul {
  list-style-type: none;
  display: flex;
}

nav ul li {
  margin: 0 15px;
}

nav ul li a {
  color: black;
  text-decoration: none;
  font-size: 18px;
  transition: color 0.3s;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
}

nav ul li a:hover {
  text-decoration: none;
  background-color: #3e8e41;
  color: white;
}

.mega-menu {
  display: none;
  cursor: pointer;
  position: relative;
}

.mega-menu img {
  width: 30px;
  height: 20px;
}

.mega-menu ul {
  background-color: white;
  list-style: none;
  padding: 0;
  margin: 0;
  position: absolute;
  left: -20px;
}

.mega-menu ul a {
  display: block;
  width: fit-content;
}

.mega-menu .dropdown-menu {
  display: none;
  list-style: none;
  padding: 0;
  margin: 0;
  width: 120px;
}
.mega-menu .dropdown-menu li {
  margin: 10px 0;
}

/* القسم الرئيسي */
#home {
  /* background: url('photo/enhanced.jpg') no-repeat center center/cover; */
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  text-align: center;
}

#home img {
  width: 400px; /* تحديد عرض الشعار */
  height: 600px; /* الحفاظ على نسبة العرض إلى الارتفاع */
}

/* قسم عن الشركة */
#about,
#projects {
  padding: 50px 20px;
  text-align: center;
}

#about h2,
#projects h2 {
  font-size: 36px;
  margin-bottom: 20px;
  color: #6b8e23;
}

#about p,
#projects p {
  font-size: 18px;
  line-height: 1.6;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
  direction: rtl;
  text-align: right;
}

.services {
  max-width: 1200px;
  margin: 20px auto;
  padding: 20px;
  /* background: #fff; */
  border-radius: 8px;
  /* box-shadow: 0 0 10px rgba(0,0,0,0.1); */
}

.section-title {
  text-align: center;
  color: #6b8e23;
  margin-bottom: 40px;
  font-size: 2em;
}

.service {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px;
}

.service-text {
  max-width: 50%;
}

.service img {
  max-width: 45%;
  height: auto;
  border-radius: 8px;
}

.service h2 {
  color: #6b8e23;
  margin-top: 0;
}

.service p {
  margin-top: 10px;
  font-size: 1em;
  color: #333;
}

/* تغيير اتجاه العناصر في القسم الثاني */
.reverse {
  flex-direction: row-reverse;
}

/* قسم مشاريعنا */
.projects-grid {
  display: grid;
  grid-template-columns: repeat(3, minmax(300px, 1fr));
  gap: 20px;
  margin: 50px;
}

.project-card {
  background-color: #f4f4f4;
  border-radius: 10px;
  overflow: hidden;
  transition: transform 0.3s, box-shadow 0.3s;
  cursor: pointer;
  text-align: center;
  /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
  box-shadow: 0 0 10px rgba(0, 0, 255, 1);

  position: relative;
  display: inline-block;
}

.project-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;

  display: block;
  transition: box-shadow 0.3s ease;
}

.project-card h3 {
  padding: 20px;
  font-size: 24px;
  color: #333;
}

.project-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

footer {
  background-color: #045981;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  direction: rtl;
  text-align: right;
  color: #f4f4f4;
}

.footer-container {
  padding: 20px;
  display: flex;
  justify-content: space-around;
  text-align: center;
}

.footer-section {
  margin-bottom: 20px;
  flex: 1;
  padding: 30px;
  margin-top: 50px;
}

.footer-section h2 {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.footer-section p {
  margin: 5px 0;
}

.footer-section a {
  color: #7fffd4;
  text-decoration: none;
}

.footer-section a:hover {
  text-decoration: underline;
}

.footer-icons {
  margin-top: 10px;
}

.footer-icons a {
  color: darkblue;
  margin: 0 10px;
  font-size: 1.5em;
  text-decoration: none;
}

.footer-icons a:hover {
  color: #fff;
  text-decoration: none;
}

.footer-icons {
  margin-top: 20px;
}

.footer-icons a {
  color: #fff;
  margin: 0 10px;
  font-size: 1.5em;
  text-decoration: none;
}

.footer-icons a:hover {
  color: #00aeef;
}

.footer-icons {
  margin-top: 10px;
}

.footer-icons a {
  color: #fff;
  margin: 0 10px;
  font-size: 1.5em;
  text-decoration: none;
}

.footer-icons a:hover {
  color: #00aeef;
}

.footer-copyright {
  color: #fff;
  padding: 20px;
  border: 2px solid #fff;
  text-align: center;
  font-weight: bold;
  font-size: larger;
}

.footer-copyright p {
  font-family: monospace;
}

.about-content {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}

#video-carousel {
  flex-basis: 50%;
  margin: 40px auto;
  padding: 20px;
  background-color: #f0f0f0;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.about-text {
  flex-basis: 50%;
}

#video-container {
  position: relative;
  width: 100%;
  height: 400px;
  overflow: hidden;
}

/* Style the video elements */
.video,
.photo {
  position: absolute; /* make them absolute for positioning */
  top: 0; /* position them at the top */
  left: 0; /* position them at the left */
  width: 100%; /* make them full-width */
  height: 100%; /* make them full-height */
  object-fit: contain;
  transition: transform 0.5s ease-in-out; /* add a smooth transition */
}

/* Style the navigation buttons */
button {
  background-color: #4caf50; /* green background */
  color: #fff; /* white text */
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer; /* change the cursor to a hand */
}

button:hover {
  background-color: #3e8e41; /* darker green on hover */
}

button:active {
  background-color: #3e8e41; /* darker green on active */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* subtle shadow on active */
}

.alert-bar {
  position: fixed;
  top: 0;
  left: 100%;
  width: 100%;
  background-color: white;
  color: #3e8e41;
  text-align: center;
  padding: 10px;
  font-size: 18px;
  animation: moveAlertBar linear 5s 1 forwards;
  z-index: 1000;
}

@keyframes moveAlertBar {
  0% {
    left: 100%;
  }
  50% {
    left: 0%;
  }
  100% {
    left: 0%;
    display: none;
  }
}

.bodyCon {
  font-family: "Roboto", sans-serif;
  background-color: #f0f0f0;
  color: #333;
  margin: 0;
  padding: 0;
}

.headCon {
  background-color: #4caf50;
  color: white;
  padding: 1em 0;
  text-align: center;
  position: relative;
}

.headCon h1 {
  margin: 0;
  font-size: 2em;
}

.headCon a {
  margin-bottom: 10px;
  font-size: 1.5em;
  color: white;
}

.headCon a:hover {
  color: red;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
  padding-top: 60px;
}

.modal h2 {
  margin: -5px 25px 0px 0px;
}

.modal-content {
  background-color: white;
  margin: 5% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 500px;
  border-radius: 8px;
  position: relative;
  animation: fadeIn 0.4s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 20px;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

label {
  display: block;
  margin: 0.5em 0 0.2em;
}

input[type="text"],
input[type="number"],
input[type="file"] {
  width: calc(100% - 22px);
  padding: 10px;
  margin-bottom: 1em;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  background-color: #4caf50;
  color: white;
  padding: 1em 2em;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 120px;
}

button:hover {
  background-color: #45a049;
}

#counters {
  display: flex;
  justify-content: space-around;
  padding: 20px;
  background-color: #f4f4f4;
  margin-top: 20px;
}

.counter {
  text-align: center;
}

.counter h3 {
  font-size: 1.5em;
  color: #6b8e23;
}

.counter p {
  font-size: 2em;
  color: #ff5733;
  margin: 0;
  display: inline-block;
}

#clients-counter,
#buildings-counter,
#units-counter {
  direction: ltr;
}

@media (max-width: 767px) {
  nav .logo-container span {
    font-size: 16px;
  }
  .about-content {
    flex-direction: column;
  }
  #video-carousel {
    width: 90%;
  }
  .footer-container {
    flex-direction: column;
  }
  .footer-section {
    margin-bottom: 10px;
    padding: 10px;
    margin-top: 0px;
  }
  nav ul {
    display: none;
  }
  .mega-menu {
    display: block;
  }
  #counters {
    flex-direction: column;
  }
  .service {
    flex-direction: column;
    align-items: center;
  }

  .service.reverse {
    flex-direction: column;
  }

  .service img {
    max-width: 100%;
    margin-top: 20px;
  }

  .projects-grid {
    grid-template-columns: repeat(1, minmax(300px, 1fr));
    margin: 10px;
  }

  #home img {
    width: 100%;
  }
}

@media (max-width: 424px) {
  nav .logo-container span {
    font-size: 12px;
  }
}
